[package]
name = "pm-proto"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
prost = { workspace = true }
serde = { workspace = true }

[build-dependencies]
prost-build = { workspace = true }
