@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor
@using ProjectManagement.Wasm.Shared
@using ProjectManagement.Components.Shared

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.SpaceBetween"
                     Gap="1rem"
                     class="px-4 w-100"
                     Style="height: 100%;">
            <RadzenStack Orientation="Orientation.Horizontal"
                         AlignItems="AlignItems.Center"
                         Gap="0.75rem">
                <RadzenIcon Icon="dashboard" Style="font-size: 1.5rem;" />
                <RadzenText TextStyle="TextStyle.H5" class="m-0">
                    Agile Board
                </RadzenText>
            </RadzenStack>
            <ConnectionStatus />
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar Style="width: 250px;">
        <NavMenu />
    </RadzenSidebar>

    <RadzenBody>
        <OfflineBanner />
        <div class="rz-p-4">
            <AppErrorBoundary>
                @Body
            </AppErrorBoundary>
        </div>
    </RadzenBody>
</RadzenLayout>

<RadzenDialog />
<RadzenNotification Position="NotificationPosition.TopRight" />
<RadzenContextMenu />
<RadzenTooltip />