@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor
@using ProjectManagement.Wasm.Shared
@using ProjectManagement.Components.Shared
@using ProjectManagement.Services.State
@inject AppState AppState

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.SpaceBetween"
                     Gap="1rem"
                     class="px-4 w-100"
                     Style="height: 100%;">
            <RadzenStack Orientation="Orientation.Horizontal"
                         AlignItems="AlignItems.Center"
                         Gap="0.75rem"
                         Style="color: white;">
                <RadzenIcon Icon="dashboard" Style="font-size: 1.5rem;" />
                <RadzenText TextStyle="TextStyle.H5" class="m-0" Style="color: inherit;">
                    Agile Board
                    @if (AppState.Projects.CurrentProject is { } project)
                    {
                        <span class="project-context" style="opacity: 0.85;"> / @project.Title</span>
                    }
                </RadzenText>
                @if (!string.IsNullOrEmpty(AppState.RepoRoot))
                {
                    <RadzenText TextStyle="TextStyle.Body2" class="m-0" Style="color: inherit; opacity: 0.7;">
                        @AppState.RepoRoot
                    </RadzenText>
                }
            </RadzenStack>
            <ConnectionStatus />
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar Style="width: 56px;">
        <NavMenu />
    </RadzenSidebar>

    <RadzenBody>
        <OfflineBanner />
        <div class="rz-p-4">
            <AppErrorBoundary>
                @Body
            </AppErrorBoundary>
        </div>
    </RadzenBody>
</RadzenLayout>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />
<ActionToastHost />