<nav class="nav-icons" aria-label="Main navigation">
    <NavLink href="" Match="NavLinkMatch.All" class="nav-icon" title="Home">
        <RadzenIcon Icon="home" />
    </NavLink>
    <NavLink href="" class="nav-icon" title="All Projects">
        <RadzenIcon Icon="list" />
    </NavLink>
</nav>
